*

!.dockerignore
!Dockerfile

!backend/
!backend/src/
!backend/pom.xml
!backend/src/**

!frontend/
!frontend/package*.json
!frontend/index.html
!frontend/vite.config.js
!frontend/src/
!frontend/src/**