# Database
DB_USERNAME=ri_user
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432
DB_NAME=routine_impulse

# JWT
JWT_PRIVATE_KEY_FILE=.secrets/jwt/privateKey.pem
JWT_PUBLIC_KEY_FILE=.secrets/jwt/publicKey.pem